/.deps/
/aclocal.m4
/autom4te.cache/
/cmpauxmd.c
/cmpauxmd.m4
/cmpauxmd.s
/compile
/config.guess
/config.log
/config.status
/config.sub
/depcomp
/extract-liarc-decls
/findprim
/gen-nonce
/install-sh
/liarc-cc
/liarc-ld
/missing
/stamp-h1
/makegen-cc
/scheme
/stamp_compinit
