# autocrud
/.deps/
/.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/pgsql-check.sh.log
/pgsql-check.sh.trs
/test-driver
/test-suite.log

# build crud
/pgsql-check.db
/pgsql-const
/pgsql-const.c
/pgsql-const.scm
/pgsql-shim.c
/stamp-h1
/stamp-scheme
/stamp-shim
