*.aux
*.bci
*.bin
*.com
*.cp
*.cps
*.crf
*.exe
*.ext
*.fn
*.fre
*.ky
*.kys
*.log
*.nv
*.nvs
*.o
*.op
*.ops
*.pdf
*.pg
*.pkd
*.ps
*.so
*.toc
*.tp
*.vr
*.vrs

!/src/lib/**/*.bin
!/src/lib/**/*.so

/doc/*/mit-scheme-*/
/doc/*/*.info
/doc/*/*.info-*

autom4te.cache/
/build-stamp
/configure-stamp
/doc/Makefile
/doc/config.status
/doc/ffi/Makefile
/doc/imail/Makefile
/doc/imail/imail.fns
/doc/make-common
/doc/ref-manual/Makefile
/doc/ref-manual/scheme.fns
/doc/sos/Makefile
/doc/sos/sos.fns
/doc/user-manual/Makefile
/src/6001/Makefile
/src/6001/Makefile.in
/src/Makefile
/src/compiler/Makefile
/src/compiler/Makefile.in
/src/compiler/compiler.cbf
/src/compiler/compiler.pkg
/src/compiler/compiler.sf
/src/compiler/machine
/src/config.status
/src/cref/Makefile
/src/cref/Makefile.in
/src/edwin/Makefile
/src/edwin/Makefile.in
/src/edwin/edwin.bld
/src/ffi/Makefile
/src/ffi/Makefile.in
/src/imail/Makefile
/src/imail/Makefile.in
/src/lib/lib/prgdbm.so
/src/lib/lib/prmcrypt.so
/src/lib/lib/prmhash.so
/src/lib/lib/prpgsql.so
/src/makefiles_created
/src/microcode/Makefile
/src/microcode/cmpauxmd.m4
/src/microcode/cmpintmd-config.h
/src/microcode/cmpintmd.c
/src/microcode/cmpintmd.h
/src/microcode/config.h
/src/microcode/config.status
/src/microcode/findprim
/src/microcode/makegen-cc
/src/microcode/scheme
/src/microcode/usrdef.c
/src/runtime/Makefile
/src/runtime/Makefile.in
/src/sf/Makefile
/src/sf/Makefile.in
/src/sos/Makefile
/src/sos/Makefile.in
/src/ssp/Makefile
/src/ssp/Makefile.in
/src/star-parser/Makefile
/src/star-parser/Makefile.in
/src/win32/Makefile
/src/win32/Makefile.in
/src/xdoc/Makefile
/src/xdoc/Makefile.in
/src/xml/Makefile
/src/xml/Makefile.in
