!/src/TAGS
#*
*.bci
*.bcild
*.bin
*.binld
*.com
*.comld
*.crf
*.diff
*.dkp
*.dll
*.err
*.exe
*.ext
*.fni
*.fre
*.icb
*.la
*.lap
*.lo
*.map
*.moc
*.nib
*.o
*.obj
*.pdf
*.pkd
*.res
*.rtl
*.txe
*~
.ccls-cache/
.dir-locals-2.el
/C-*/
/C/
/LOG
/build*/
/debian*/
/html/
/linux*/
/macos/
/macos*/
/pc/
/stage?/
/svm/
/svm1*/
/ubuntu*/
TAGS
changelog.txt
doc/*/*.aux
doc/*/*.cp
doc/*/*.cps
doc/*/*.dvi
doc/*/*.fn
doc/*/*.fns
doc/*/*.html
doc/*/*.info
doc/*/*.info-*
doc/*/*.ky
doc/*/*.kys
doc/*/*.log
doc/*/*.nv
doc/*/*.nvs
doc/*/*.op
doc/*/*.ops
doc/*/*.pg
doc/*/*.ps
doc/*/*.t2d/
doc/*/*.t2p/
doc/*/*.toc
doc/*/*.tp
doc/*/*.tps
doc/*/*.vr
doc/*/*.vrs
doc/*/Makefile.in
doc/*/texinfo.tex
doc/Makefile
doc/Makefile.in
doc/aclocal.m4
doc/autom4te.cache/
doc/config.log
doc/config.status
doc/configure
doc/ffi/Makefile
doc/ffi/mit-scheme-ffi/
doc/imail/Makefile
doc/install-sh
doc/imail/mit-scheme-imail/
doc/missing
doc/ref-manual/Makefile
doc/ref-manual/mit-scheme-ref/
doc/ref-manual/standards-menu.texi
doc/ref-manual/standards.texi
doc/sos/Makefile
doc/sos/mit-scheme-sos/
doc/user-manual/Makefile
doc/user-manual/mit-scheme-user/
src/6001/Makefile
src/6001/Makefile.in
src/autom4te.cache/
src/compiler/Makefile
src/compiler/Makefile.in
src/compiler/compiler.cbf
src/compiler/config.guess
src/compiler/compiler.pkg
src/compiler/compiler.sf
src/compiler/machines/vax/dinstr1.scm
src/compiler/machines/vax/dinstr2.scm
src/compiler/machines/vax/dinstr3.scm
src/config.guess
src/config.sub
src/configure
src/cref/Makefile
src/cref/Makefile.in
src/edwin/Makefile
src/edwin/Makefile.in
src/edwin/edwin.bld
src/ffi/Makefile
src/ffi/Makefile.in
src/imail/Makefile
src/imail/Makefile.in
src/lib/
src/microcode/*.ico
src/microcode/Makefile
src/microcode/Makefile.in
src/microcode/cmpauxmd.asm
src/microcode/cmpauxmd/i386-nt.asm
src/microcode/cmpauxmd/i386-ntw.asm
src/microcode/cmpintmd-config.h
src/microcode/cmpintmd.c
src/microcode/cmpintmd.h
src/microcode/config.h
src/microcode/config.h.in
src/microcode/configure
src/microcode/float.h
src/microcode/gc.cur
src/microcode/limits.h
src/microcode/makefile
src/microcode/ntdialog.dlg
src/microcode/ntdialog.h
src/microcode/ntgui.rc
src/microcode/scheme32.*
src/microcode/usrdef.c
src/runtime/Makefile
src/runtime/Makefile.in
src/runtime/generated-standard-libs
src/sf/Makefile
src/sf/Makefile.in
src/sos/Makefile
src/sos/Makefile.in
src/ssp/Makefile
src/ssp/Makefile.in
src/star-parser/Makefile
src/star-parser/Makefile.in
src/win32/Makefile
src/win32/Makefile.in
src/win32/dibutils/makefile
src/xdoc/Makefile
src/xdoc/Makefile.in
src/xml/Makefile
src/xml/Makefile.in
