*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.kys
*.log
*.nv
*.nvs
*.op
*.ops
*.pg
*.toc
*.tp
*.vr
*.vrs
*.info
*.info-*
*.pdf
*.ps
/make-common
/imail/mit-scheme-imail/
/ref-manual/mit-scheme-ref/
/sos/mit-scheme-sos/
/user-manual/mit-scheme-user/
