[Desktop Entry]
Version=1.0
Name=MIT/GNU Scheme
Exec=/usr/bin/mit-scheme --edit
TryExec=mit-scheme
Terminal=false
Type=Application
Categories=Development;IDE;Utility;TextEditor;
