# autocrud
/.deps/
/.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/test-driver

/stamp-scheme
/stamp-shim
/x11-const
/x11-const.c
/x11-const.scm
/x11-shim.c
