*.bin
*.ext
*.com
*.bci
*.crf
*.fre
*.pkd
*.o
*.so
Clean.sh
Setup.sh
!/Setup.sh
Stage.sh
Tags.sh
!/etc/Tags.sh
!/microcode/Tags.sh
/*/.edwin-ffi
*/Makefile.in
/compiler/compiler.cbf
/compiler/compiler.pkg
/compiler/compiler.sf
/compiler/machine
/compiler/machines/vax/dinstr1.scm
/compiler/machines/vax/dinstr2.scm
/compiler/machines/vax/dinstr3.scm
/edwin/edwin.bld
/lib
/makefiles_created
/microcode/Makefile.deps
/microcode/cmpauxmd.m4
/microcode/cmpauxmd/i386-nt.asm
/microcode/cmpauxmd/i386-ntw.asm
/microcode/cmpintmd-config.h
/microcode/cmpintmd.c
/microcode/cmpintmd.h
/microcode/config.h
/microcode/config.h.in
/microcode/findprim
/microcode/liarc-rules
/microcode/liarc-vars
/microcode/makegen-cc
/microcode/scheme
/microcode/usrdef.c
