# autocrud
/Makefile
/Makefile.in
/aclocal.m4
/config.log
/config.status
/dummy-config.h
/dummy-config.h.in
/stamp-h1

/makefiles_created
/stamp_cross-finished
/stamp_cross-host
/stamp_install-microcode
/stamp_lib
/stamp_liarc-toolchain
/stamp_toolchain
